@font-face{
	font-family: 'EraserDust';
	src:url("EraserDust.ttf");

}
body{

	font-family: 'EraserDust', serif;
	
}
p{
	margin:15px 100px;
	font-size: 15px;
}
h1{
	position:absolute;
	width:200px;
	background-color:#3A3467;
	border: 5px solid orange;
	transform: rotate(20deg);
	z-index: 100;
}

.top{
	position:relative;
	margin:auto;
	width:65%;
	height:100px;
	
	
	color:orange;
	
	text-align: center;
	vertical-align: middle;
	line-height: 100px;

}
.middle{
	position:relative;
	margin:0px auto;
	margin-top:10px;
	width:65%;
	height:500px;
	background-image: url("../images/class.jpg");
	opacity:0.9;
	
}
#game{
	margin:auto;
	float:left;
	width:375px;
	height:333px;
	background-image: url("../images/zwartevilt.png");
	color:#ffffff;
	
	border:5px solid orange;
	border-left: none;
	vertical-align: middle;
	line-height: 325px;
	opacity: 1.0;
}
#mycanvas{

	background-color: white;
	z-index: 999;
}
.container{
	position:absolute;
	margin:0px auto;
	width:900px;
	height:500px;
	top:75px;
	left:35px;
	
}
.container:after{

	content=" ";
	visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#score{
	float:left;
	margin:auto;
	width:375px;
	height:333px;
	color: #ffffff;
	letter-spacing: 3px;
	background-image: url("../images/zwartevilt.png");
	border:5px solid orange;
	border-right: none;
	opacity: 1.0;
	text-align: center;
}

}
#board{
	
	letter-spacing: 10px;

}
.bottom{
	float:none;
	margin:auto;
	width:65%;
	border-top:5px solid orange;
	color:orange;
	height: 75px;
	background-color:#3A3467;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	
}